<% include partials/head %>

  <body>
    

        <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                    
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">กิจกรรมให้โชค</span> แจกเงิน 100 บาท 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">แจกเงินฟรี</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">ดาวน์โหลดเกม</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">ติดต่อเรา</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">แจกเงินฟรี</h1>
                        <p class="intro-text">โดย vslot8 เพียงสมัครสมาชิกกับทางเว็บนี้</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>ขั้นตอนที่1 สมัครสมาชิก</h2>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            </div>
        </div>
    </section>


    <!-- 2 Section -->
    <section id="about" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>ขั้นตอนที่2 เพิ่มเพื่อน</h2>
                    <p>เพิ่ม LINE@vslot8 เป็นเพื่อน</p>
                    <a href="https://line.me/R/ti/p/@vslot8" target="_blank"><img src="img/LINE_Icon144.png"></a>
                    <a href="https://line.me/R/ti/p/@vslot8" target="_blank"><img src="img/qrcodeline144.png"></a>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- 3 Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>ขั้นตอนที่3 ส่งข้อความมาหาเรา</h2>
                <p>ส่งข้อความมาทาง LINE@vslot8 ว่า "รับเงินจากกิจกรรมแจกเงิน 100 บาท"</p>
                <p>"พร้อมทั้งแจ้งชื่อใน facebook ที่ใช้สมัคร"</p>
                <a href="#money" class="btn btn-default btn-lg">รับเงิน</a>
                
            </div>
        </div>
    </section>

    <!-- 4 Section -->
    <section id="money" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>รับเงิน</h2>
                    <p>แจ้งเลขที่บัญชีของท่านในการรับเงิน</p>
                    <p>***หมายเหตุ: ขอสงวนสิทธิ์ชื่อบัญชีใน facebook ตรงกับชื่อบัญชีธนาคารของท่าน***</p>
                    
                    
                </div>
            </div>
        </div>
    </section
    

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download เกม SCR888</h2>
                    <p>Vslot8 เราให้บริการเกมบนมือถือ iPhone iPad และ Android เล่นสนุก ได้เงินจริง$$$</p>
                    <a href="http://m.scr888.com/" class="btn btn-default btn-lg" target="_blank">ดาวน์โหลดเกม</a>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>ติดต่อเรา Vslot8</h2>
                <p>Vslot8 เราให้บริการเกมบนมือถือ เล่นสนุก ได้เงินจริง</p>
                <p><a href="http://www.slotscr888.xyz/">vslot8.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://line.me/R/ti/p/@vslot8" class="btn btn-default btn-lg"><i class="fa fa-line fa-fw"></i> <span class="network-name">LINE</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/vslot8th" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vslot8" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>


</body>

         
                
        

</html>
